@model OdeToFood.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<h1>@Model.Name</h1>
<div>this is the home view</div>
<div>the id of this restaurant is @Model.Id</div>
</body>
</html>